@model Employee
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>EMS</title>
</head>
<body>
    <h3>@ViewBag.PageTitle</h3>
    <p>@Model.Id</p>
    <p>@Model.Name</p>
    <p>@Model.Email</p>
</body>
</html>
